<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="mybatistest.UserMapper">
    <!-- 查一个的Mapper配置文件 -->
    
    <select id="selectUser"  parameterType="int"   resultType="mybatis_test1.User" >
     <!--   where id=#{id}--> 
         select * from muser where id= #{id}
    </select>
    
</mapper>